---
import type { MarkdownHeading } from "astro";

export interface Props {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props;

const toc = headings.filter(heading => heading.depth === 2);
---

<nav class="toc">
  <ul class="text-sm leading-7 font-semibold text-foreground/70">
    {
      toc.map(heading => (
        <li class="my-0.5">
          <a
            href={`#${heading.slug}`}
            class="block truncate transition-colors duration-200 hover:text-foreground"
            title={heading.text}
          >
            {heading.text}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
